credentials.json
tokens.json
token.json
profiles/*
node_modules/
temp_screen.html
.AppleDouble
.AppleDouble/*
resources/.AppleDouble
tmp/*
package-lock.json
/addons/.github/addons_logo.psd
/addons/.github/addonslogo.png
/addons/Hotword/
/addons/LICENSE.md
/addons/README.md
/addons/governor/
/addons/install
/addons/internet/
/addons/pir/
/addons/porcupine/
/addons/screen/
/addons/snowboy/
/addons/sound/
/addons/template/
/addons/utils.sh
/snowboy/
/models/
/installer/Hotword.sh
/installer/display.sh
/installer/governor.sh
/installer/hotword.sh
/installer/installer.log
/installer/internet.sh
/installer/pir.sh
/installer/porcupine.sh
/installer/screen.sh
/installer/snowboy.sh
/installer/sound.sh
/addons/.gitignore
/addons/addons.js
