.photo {
	height: 500px;
	width: auto;
	margin-top: 40px;
}

.info_item {
	width: 200px;
	height: 440px;
	border: 2px solid white;
	float: left;
	color: white;
	font-size: 25px;
	padding: 10px;
}

.dif_item {
	float: left;
	padding: 5px;
}

.red_font {
	color: red;
}

.green_font {
	color: green;
}

img {
	width: 260px;
	height: auto;
	margin: 10px;
	float: left;
}
